@model PgnString

@{
    ViewData["Title"] = "Add Player";
}

<h1>Add</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pgn" class="control-label"></label>
                <input asp-for="Pgn" class="form-control" />
                <span asp-validation-for="Pgn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhitePlayerId" class="control-label"></label>
                <input asp-for="WhitePlayerId" class="form-control" />
                <span asp-validation-for="WhitePlayerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlackPlayerId" class="control-label"></label>
                <input asp-for="BlackPlayerId" class="form-control" />
                <span asp-validation-for="BlackPlayerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
