@model Pgn

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pgn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Event" class="control-label"></label>
                <input asp-for="Event" class="form-control" />
                <span asp-validation-for="Event" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Site" class="control-label"></label>
                <input asp-for="Site" class="form-control" />
                <span asp-validation-for="Site" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round" class="control-label"></label>
                <input asp-for="Round" class="form-control" />
                <span asp-validation-for="Round" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Result" class="control-label"></label>
                <input asp-for="Result" class="form-control" />
                <span asp-validation-for="Result" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Moves" class="control-label"></label>
                <input asp-for="Moves" class="form-control" />
                <span asp-validation-for="Moves" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Featured" /> @Html.DisplayNameFor(model => model.Featured)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="WhitePlayerId" class="control-label"></label>
                <input asp-for="WhitePlayerId" class="form-control" />
                <span asp-validation-for="WhitePlayerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlackPlayerId" class="control-label"></label>
                <input asp-for="BlackPlayerId" class="form-control" />
                <span asp-validation-for="BlackPlayerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

